*{
    margin: 0 auto;
}
body {
font-family: 'Noto Sans KR', sans-serif;
}
header{
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 50;
}
header>ul>li>a{
    color: white;
    text-decoration: none;
}
header>a{
    line-height: 121.25px;
}
header img{
    width: 280px;
    line-height: 100px;
}
header ul{
    display: inline-block;
    float: right;
    line-height: 100px;
}
header li{
    display: inline-block;
    list-style: none;
    padding-right: 20px;   
}
.video-box {
position: relative;
height: 100vh;
overflow: hidden; 
}
.video-size{
    /* min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden; */
    width: 100%;
    bottom: 100vh;
    object-fit: cover;
}
.scroll{
    width: 8rem;
    padding-top: 1rem;
}
.main_tx{
    padding-top: 13%;
    text-align: center;
    font-size: 38px;
}
.main_flex_wid,
.main_flex_wid_cus {
  display: flex;
  justify-content: space-between; /* 요소들을 좌우로 분배 */
  align-items: center; /* 세로 중앙 정렬 */
}

.main_flex_wid > div,
.main_flex_wid_cus > div {
  flex: 0 0 48%; /* 너비고정 flex-grow: 0, flex-shrink: 0, flex-basis: 고정 너비 값 설정 */
  padding: 10px; /*간격*/
  text-align: center;
}
.sub_tx{
    text-align: center;
}
.main_con{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main_con_tx{
    color: white;
}
section{
    padding : 100px 50px;
}
sectionout{
    padding : 100px 0px;
}
sectionout h1{
    padding: 0px 50px;
    text-align: center;
    font-size: 24px;
}
section h1{
    text-align: center;
}
map{
   padding : 100px 0px !important
}
.history{
    position: relative;
    height: 700px;
    overflow: hidden;
}
.history ::after{
    content: "";
    position: absolute;
    top: 6rem;
    left: 50%;
    width: 2px;
    height: 85%;
    background-color: black;
    z-index: 1;
}
.history b{
    display: inline-block;
}
.history img{
    width: 100%;
    padding-bottom: 5px;
}
.history p{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    padding-left: 3px;
}
.history h3{
    font-size: 32px;
    padding-bottom: 20px;
}
.history ul{
    position: relative;
}
.history ul::before{
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    margin:100px 0px 0px -2px;
    padding: 100px 0;
    width: 2px;
    height: 100%;
    background-color: black;
}
.history li{
    position: relative;
    list-style: none;
}
.history li::before{
    content: " ";
    display: block;
    position: absolute;
    top: -5px;
    left: 85.3%;
    right: auto;
}
.bg_bl{
    background-color: black;
    color: white;
}
.boxy{
    width: 8%;
}
.history li 
/******* size *******/
.pd_top7p{
    padding-top: 100px;
}
.pd_top100{
    padding-top: 100px;
}
.mar_top100{
    margin-top: 100px;
}
.pd_left50{
    padding-left: 50px;
}
.pd_rig50{
    padding-right: 50px;
}
.pd_lef30{
    padding-left: 30px ;
}
.pd_bot100{
    padding-bottom: 100px;
}
.mar_top12p{
    margin-top: 12%;
}
.mar_top30p{
    margin-top: 30%;
}
.tx_cen{
    text-align: center;
}
.bg_bl input{
    margin-top: 100px;
    background-color:black;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    font-size: 32px;
    width: 20px;
    color: white;
    text-align: right;
    margin-right: 10px;
}
.inputcus{
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}   
input:focus{
    outline: none;
}
.tx_left{
    text-align: left;
}
.tx_rig{
    text-align: right;
}
.sec_box{
    margin-left: 10%;
}
.tx_col_main{
    color: #e9e9e9;
}
.realty_entry{
    font-size: 64px;
    font-weight: bold;
    margin-top: 60%;
}
/******* font *******/
.font_bl{
    font-weight: bold;
}
h2{
    font-size: 16px;
}
.font_32{
    font-size: 32px;
}
.font_52{
    font-size: 52px;
}
.font_62{
    font-size: 62px;
}
.garybox{
    width: 200px;
    height: 50px;
    background-color: gray;
}
.d_flex{
    display: flex;
}
.main_flex_wid{
    width: 45%;
    padding-top: 5%;
}
.main_flex_wid_cus{
    width: 45%;
    padding-top: 4rem;
}
.b2b img{
    width: 150px;
    border-radius: 10px;
}
/* .b2b img:hover{
    box-shadow: 0px 0px 3px;
} */
.chart{
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.3s;
}
.chart .chart_cen{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    top:50px;
    left: 50px;        
    }
iframe{
    border: 0px solid;
}
.wrap{
    padding-top: 100px;
    text-align: center;
}
.pade_down{
    animation: fadedown 1s ease-in both;
    animation-delay: 0.2s;
}
.pade_up1s{
    animation: fadeup 1s ease-in both;
    animation-delay: 1s;
}
.pade_up2s{
    animation: fadeup2 1s ease-in both;
    animation-delay: 2s;
}
@keyframes fadedown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeup {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeup2 {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.boxt{
    margin:3rem 8rem ;
    width: 200px;
    height: 100px;
    display: inline-block;
}
.his_2023{
    /* background-color: aqua; */
    width: 19rem;
}
.pd_rig20p{
    padding-right: 25%;
}
.pd_lef20p{
    padding-left: 25%;
}
.pd_top50{
    padding-top: 50px;
}
